@font-face {
  font-family: Raleway;
  font-weight: bold;
  font-display: swap;
  src:
    url(../fonts/Raleway-Bold.woff) format('woff'),
    url(../fonts/Raleway-Bold.woff2) format('woff2');
}

@font-face {
  font-family: Raleway;
  font-weight: normal;
  font-display: swap;
  src:
    url(../fonts/Raleway-Regular.woff) format('woff'),
    url(../fonts/Raleway-Regular.woff2) format('woff2');
}
