body {
  font-family: Raleway, sans-serif;
  margin: 0 auto;
  width: 1100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  padding: 0;
  margin: 0;
}

*::before,
*::after,
* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

button {
  font: inherit;
}

img {
  width: 100%;
}
