body {
  overflow-x: hidden;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px 90px;
  font-size: 18px;
}

.footer__address {
  font-style: normal;
  justify-self: start;
  line-height: 1.35;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link {
  text-underline-offset: 5px;
}

.footer__social-list {
  gap: 48px;
  list-style: none;
  display: flex;
  justify-self: end;
}

.footer__social-icon {
  width: 48px;
}

.about {
  gap: 25px;
  display: grid;
  grid-template-columns: 339px 1fr;
  padding: 0 24px 180px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  width: 240px;
  height: 240px;
  margin: 0 auto;
  display: flex;
  background-color: black;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin: 100px 0;
  text-transform: uppercase;
  font-size: 40px;
}

.about__text {
  gap: 25px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 1.2;
}

.lots {
  padding: 180px 25px;
}

.lots__heading {
  margin-left: 40px;
  margin-bottom: 27px;
  text-transform: uppercase;
  font-size: 40px;
}

.lots__card-list {
  gap: 25px;
  list-style: none;
  display: flex;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: 430px;
  flex-grow: 1;
  min-height: 450px;
}

.card-link {
  height: 100%;
  display: block;
  text-decoration: none;
}

.card {
  height: 100%;
  padding: 50px 40px;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 2;
  position: relative;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  z-index: 2;
  position: relative;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  text-underline-offset: 5px;
}

.header {
  padding: 92px 50px;
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__links-list {
  gap: 32px;
  list-style: circle;
  display: flex;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.link_active {
  text-decoration: none;
}

.link {
  text-underline-offset: 5px;
}

.header__logo {
  width: 148px;
  height: 105px;
  justify-self: center;
}

.header__logo-image {
  display: block;
}

.header__address {
  max-width: 240px;
  line-height: 1.35;
  font-style: normal;
  justify-self: end;
}

.cover {
  padding: 165px 50px 50px;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
  z-index: 1;
}

.cover__title {
  gap: 20px;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 100px;
  line-height: 1.15;
  font-weight: bold;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  letter-spacing: 0.3em;
}

.aligned-text_center {
  line-height: 1;
  text-align: center;
}

.aligned-text_right {
  line-height: 1;
  text-align: right;
}

.cover__description {
  gap: 78px;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 135px;
}

.cover__description-text {
  color: white;
  font-size: 22px;
  line-height: 1.27;
  word-spacing: 18px;
  text-transform: uppercase;
}

.bet-button {
  padding: 12px 32px;
  color: white;
  font-size: 22px;
  border: 1px solid white;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
}
